<div class="container" >
  <div class="card-body" >
    <h1 class="card bg-primary text-white" >XYZ Colege</h1>
    <ul class="card bg-primary" >
       <li class="card" >
          <%= link_to "list of faculty", faculties_path %>
       </li>
       <li class="card" >
          <%= link_to "List Of Students", students_path %>
       </li>
    </ul>
  </div>
</div>