<h1>Hello <span style="font-style: italic;">Gowtham</span> from <span style="color: red;">Simform</span></h1>
<h2>Your data goes like this</h2>
<dl>
<dt style="font-weight: bold;" >College Info<dt>
<dd><span style="text-decoration: underline;" >name:</span>parul university</dd>
<dd><span style="text-decoration: underline;" >course:</span>ECE</dd>
<dd><span style="text-decoration: underline;" >semester:</span>8<dd>
<dt style="font-weight: bold;" >Bio Data<dt>
<dd><span style="text-decoration: underline;" >state:</span>ndhra radesh</dd>
<dd><span style="text-decoration: underline;" >language:</span>telugu</dd>
</dl>