<header class="bg-primary text-center" >
    <h1 class="text-white head" >Products</h1>
</header>
<section>
    <div class="bg-info cont" >
        <ul>
            <% @products.each do |product| %>
                <li class="item" >
                    <ul class="text-center bg-light opacity-75 card" >
                        <li><span class="item_head p-2" >name: </span> <%= product.name %></li>
                        <li><span class="item_head p-2" >description: </span> <%= product.description %></li>
                        <li><span class="item_head p-2" >cost: </span> <%= product.cost %></li>
                        <li><span class="item_head p-2" >status: </span> <%= product.status %></li>
                    </ul>
                </li>
            <% end%>
        </ul>
    </div>
</section>


























