<h1 class="bg-primary text-white card" ><%= @product.name %></h1>
<ul>
    <li class="card" style="background-color: rgba(13, 110, 253, 0.7);" >description: <%= @product.description %> </li>
    <li class="card" style="background-color: rgba(13, 110, 253, 0.5);">cost: <%= @product.cost %> </li>
    <li class="card" style="background-color: rgba(13, 110, 253, 0.2);">status: <%= @product.status %> </li>
</ul>
